body {
  font-family: Source Sans Pro,sans-serif;
}

div.line-height,
label.line-height,
p {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 0.8em;
}

input,
select {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
}

a {
  color: #0ABAB5;
}

#setup-max-width {
  max-width: 600px;
}

#example-max-width {
  max-width: 600px;
}

.pull-lefts {
  float: left;
}

.pull-rights {
  float: right;
}

.flex-justify-content-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-justify-content-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-justify-content-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-align-content-stick-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.flex-align-content-stick-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.order-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.order-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

#button-for-send {
  background-color: #485173;
  color: white;
  border-color: #485173;
  width: 80px;
  height: 33px;
  margin-left: 0.3em;
  border: 1px solid transparent;
  font-weight: bold;
  font-size: 0.7em;
}

.button-tiffany {
  background-color: #0ABAB5;
  color: white;
  border-color: #0ABAB5;
  width: 70px;
  height: 28px;
  margin-left: 0.3em;
  border: 1px solid transparent;
  font-weight: bold;
  font-size: 0.7em;
}

.body-content-width {
  max-width: 1250px;
}

.body-content-height {
  height: 120%;
}

.navigation_left_bar {
  height: 120%;
  width: 15%;
}

.navigation_bar_background_color {
  background-color: #485173;
  color: white;
}

.padding-left-right {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-top-bottom {
  padding-bottom: 5px;
  padding-top: 5px;
}

.text-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-extreme-light {
  font-weight: 100;
}

.header-background-color {
  background-color: #f4f8ff;
}

