


//overall html tag css control//

body {
  font-family: Source Sans Pro,sans-serif;
}

div.line-height, label.line-height, p {
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  font-size: 0.8em;
}

input,select {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid #ced4da;  
}

a {
  color: #0ABAB5;
}




//responsive//

@media only screen and (max-width: 576px) {
  #example-max-width {
    max-width: 1250px !important;
  }

  #setup-max-width {
    max-width: 1250px !important;
  }

  img {
    width: 100px;
    height: 100px;
  }

  div, div.line-height, label.line-height, p , select , input , li {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-size: 0.8em;
  }

  .flex-justify-content-between {
    display: flex;
    flex-direction: column !important;
  }
  
  .margin-left-right {
    margin-left: 10px; 
    margin-right: 10px;
  }

  .responsive-nav {
    padding-left: 20px; 
    margin-left: 10px; 
    border: 1px solid #ccc!important; 
    width: 82% !important;
  }
}



//for id class only//

#setup-max-width {
	max-width: 600px;
  padding-left: 20px; 
  border: 1px solid #ccc;
  margin-left: 10px;
  margin-right: 10px;
}

#example-max-width {
	max-width: 600px;
  border: 1px solid #ccc; 
  padding-left: 1em;
}

#border-2px {
  border: 2px solid #ccc!important;
}

//flex//

.pull-lefts {
	float: left;
}

.pull-rights {
	float: right;
}

.flex-justify-content-start {
	display: flex;
  justify-content: flex-start;
}

.flex-justify-content-between {
	display: flex;
	justify-content: space-between;
}

.flex-justify-content-end {
	display: flex;
  justify-content: flex-end;
}

.flex-align-content-stick-top {
  display: flex;
  align-content: flex-start;  
}      

.flex-align-content-stick-bottom {
  display: flex;
  align-content: flex-end;  
}      

.flex-row {
  display: flex;
  flex-direction: row;
}

.order-1 {
  display: flex;
  order: 1;
}

.order-2 {
  display: flex;
  order: 2;
}

.order-3 {
  display: flex;
  order: 3;
}



//button

#button-for-send {
  background-color: #485173; 
  color: white;
  border-color: #485173;
  width: 80px;
  height: 33px;
  margin-left: 0.3em;
  border: 1px solid transparent;
  font-weight: bold;
  font-size: 0.7em;
}

.button-tiffany {
  background-color: #0ABAB5;
  color: white;
  border-color: #0ABAB5;
  width: 70px;
  height: 28px;
  margin-left: 0.3em;
  border: 1px solid transparent;
  font-weight: bold;
  font-size: 0.7em;
} 

//others

.body-content-width {
  max-width: 1250px;
}

.body-content-height {
  height: 120%;
}

.navigation_left_bar {
  height: 120%;
  width: 15%;
}

.navigation_bar_background_color {
  background-color: #485173;
  color: white;
}

.padding-left-right {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-top-bottom {
  padding-bottom: 5px;
  padding-top: 5px;
}

.text-center {
  text-align: center;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-extreme-light {
  font-weight: 100;
}

.header-background-color {
  background-color: #f4f8ff;
}

.responsive-nav {
  padding-left: 20px; 
  margin-left: 10px; 
  border: 1px solid #ccc!important; 
  width: 100%;
}

.w-50 {
  width: 50%;
}

.w-90 {
  width: 90%;
}

.w-100 {
  width: 100%;
}

.mt-0-5em {
  margin-top: 0.5em;
}

.mt-10px {
  margin-top: 10px;
}

.mt-20px {
  margin-top: 20px;
}

.mt-50px {
  margin-top: 50px;
}

.mt-3-7em {
  margin-top: 3.7em;
}

.mr-10px {
  margin-right: 10px;  
}

.mr-1-3em {
  margin-right: 1.3em;
}

.pl-8px {
  padding-left: 8px;
}

.pr-1-2em {
  padding-right: 1.2em;
}

.fa-0-7em {
  font-size: 0.7em !important;
}

.fa-0-8em {
  font-size: 0.8em !important;
}

.fa-1-0em {
  font-size: 1.0em !important;
}

.fa-1-5em {
  font-size: 1.5em !important;
}